PORT=5000
MONGODB_URI=mongodb+srv://aminecherif746_db_user:cu73IYHLcDwy68Jl@cluster0.hpnitxd.mongodb.net/?appName=Cluster0
NODE_ENV=development
JWT_SECRET=your_secret_key_here
CORS_ORIGIN=http://localhost:3000
